<div class="content">
  <div class="pop-up" id="pop-up">
    <div class="closebutton" (click)="closebydocuement()">
      <mat-icon>close</mat-icon>
    </div>
    <div class="text">
      How likely are you to recommend my work to someone you know?
    </div>
    <div class="note">
      <div class="number">1</div>
      <div class="number">2</div>
      <div class="number">3</div>
      <div class="number">4</div>
      <div class="number">5</div>
      <div class="number">6</div>
      <div class="number">7</div>
      <div class="number">8</div>
      <div class="number">9</div>
      <div class="number">10</div>
    </div>
    <div class="ranting">
      <div>Not likely at all</div>
      <div>Extremely Likely</div>
    </div>
    <div class="button">
      <button class="cancel">Cancel</button>
      <button class="submit">Submit</button>
    </div>
  </div>
</div>
